header{
    float: left;
    width: 100%;
    font-family: "DoratineStyle-Bold", Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 20px 0;
}

header h1{
    color: rgb(255, 217, 0);
    font-size: 50px;
    margin: 0;
    text-shadow: 2px 2px 5px  #ccc;
}