@import "./nav.css";
@import "./tabla.css";
@import "./formulario2.css";
@import "./header.css";
@import "boton.css";

body{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
