
table {
    border-collapse: collapse;
    background-color: #C5CAE9;
    cursor: pointer;
    width: 90%;
    /* centramos la tabla */
    margin: 0 auto; 
    font-family: 'Nunito Sans', sans-serif;
}

td, th{
    padding: 12px;
    text-align: center;
}
tr:hover{
    background-color: #526376 ;
    color: #fff;
}

tr:active{
    background-color: #192839 ;
    color: #fff;
}

table thead{
    background-color: #2a333d;
    color: #fff;
    border: 1px solid #fff;
}
.btn-borrar {
   
    background: rgb(255, 217, 0);
    border: none;
    padding: 12px;
    color: black;
    font-size: 16px;
  }

